*{
  margin: 0;
  box-sizing: border-box;
  font-family: Nuinito sans;
}
.Details-up .label{
    color: #8B8D9D;
    
  }
  .Details-down .label{
    color: #8B8D9D;
    
  }
.Details-up,.Details-down {
    font-size: small;

}
.Details-up{
    width:calc(80%);
    display: flex;
    justify-content: space-between;
    margin:0 20px;
    padding-top: 40px;
    padding-left: 12px;
    padding-bottom: 20px;
    padding-right: 20px;
    box-shadow: 0px 3px 6px #9D9D9D29;
    background-color: #ffffff;
    align-items: center;
}
.Details-down{
    width:calc(80%);
    display: flex;
    margin:0 20px;
    box-shadow: 0px 3px 6px #9D9D9D29;
    background-color: #ffffff;
    padding:10px;
    align-items: center;
}
.mainDetails{
    display: flex;
    flex-direction: column;
    margin-right: 10px;
}
.detai2{
    margin-right: 105px;
    padding-top: 30px;
} 

hr{
  text-align: center;
   margin: 0 0 20 20px;
  margin-left: 40px;
  margin-right: 300px;
  opacity: .1;
}

#Active {
    background: #d3f4be 0% 0% no-repeat padding-box;
    display: flex;
    opacity: 1;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    padding:2px 10px;
  }
  #Inactive {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #ffbfbf 0% 0% no-repeat padding-box;
    opacity: 1;
    padding:2px 10px;
    border-radius: 10px;
  }
  #Probation {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #f5ecb8 0% 0% no-repeat padding-box;
    opacity: 1;
    padding:2px 10px;
    border-radius: 10px;
  }
  .parent{
    position: relative;
    bottom: 0px;
    left: 0;
  }
  .image2 {
    top: 17px;
    position: absolute;
    width: 50px;
  }
  .createEmp {
    display: flex;
    justify-content: space-between;
   
}
.image3 {
  position: absolute;
  bottom: 32px; ;
  left: 10px;
  width: 25px;
  
}
.emp Button{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 150px;
  /* margin: 20px; */
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 30px;
  border-radius: 15px;
  background-color:#EAF9FF;
  font-size: 16px;
  border: none;
}
section{
  box-shadow: 0px 3px 6px #9D9D9D29;
  background-color: #ffffff;
  padding:10px;
  margin: 20px;
  margin-left: 10px;
  margin-right: 20px;
  border-radius: 10px;
  align-items: center;
}
main{
  padding: 5px;
  margin-left: 300px;
  width: calc(100% - 300px);

}